.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
     grid-template-columns: repeat(2, 50%);  
   grid-template-rows: repeat(2, auto); 
  align-content: space-between;
  gap: 10px 10px;
  }
  .grid div{
    background-color: #e91e63;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;

  }